<div class="slide-container {{ section.id }}">

  <!-- Boxen für Desktop Ansicht -->
  <div class="flexbox trust-icons page-width">
    <ul class="trust-icons">
      {% for block in section.blocks %} 
      <li class="flex">&#10003; {{ block.settings.text }}</li>
      {% endfor %}
    </ul>
  </div>

  <!-- Boxen für mobile Ansicht -->
  <div class="carousel">
      <div class="carousel-inner">
        {% for block in section.blocks %} 
        <div class="carousel-item">
          <li class="flex">&#10003; {{ block.settings.text }}</li>
        </div>
        {% endfor %}
      </div>
  </div>
  
</div>